<style type="text/css">
			body, html, div, section{margin: 0; overflow: hidden;}
			button{display: inline-block;
				background: #FF4646;
				width: 130px; height: 50px;
				margin:10px;
				justify-content: center;
				text-align: center;
				line-height: 30px;
				text-decoration: none;
				font-family:  'Noto Sans KR', sans-serif;
				font-weight: 700;
				font-size: 17px;
				border-radius: 30px;
				border-width: 0px;
				box-shadow: 0px 0px 10px red;
				color: black;
				z-index: 10;}
			button:hover{
				background: #404040;
				box-shadow: none;
				color: white;
				transition: all 0.1s;
				z-index: 10;}
			video{width: 100%; height: 100%; object-fit:cover;
					z-index: 1; position: fixed;
					margin: 0;}
			.absolute{display: block; position: absolute;}
			body{margin: 0;
				overflow: hidden;}
			.flex{display: flex;
					justify-content: center;}
			.marginset{padding-right: 500px;}

 			.bar{-webkit-appearance: none;
				background-color: #FFA500;
				box-shadow: 0px 0px 10px yellow;
				height: 13px;
				width: 30px;
				border-radius: 10px;
				z-index: 10;
				justify-content: center;}

			input[type="range"] {
    				-webkit-appearance: none;
    				width: 30%;
    				margin: 0;
    				padding: 0;
    				height: 10px;
    				margin: 30px 2.5% 20px 2.5%;
    				border-radius: 10px;
    				float: left;
    				outline: none;}
			input[type="range"]::-webkit-slider-runnable-track {
    				width: 100%;
    				height: 3px;
    				cursor: pointer;
    				background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
					}
			input[type="range"]::before {
    				position: absolute;
  				  content: "";
  				  top: 8px;
  				  left: 0;
 				   width: var(--seek-before-width);
  				  height: 3px;
  				  background-color: #FF4646;
    				cursor: pointer;}
			input[type="range"]::-webkit-slider-thumb {
   					 position: relative;
    				-webkit-appearance: none;
    				background-image: url(elmo.png);
   					 box-sizing: content-box;
    				 height: 64px;
  					  width: 61px;
   					 border-radius: 50%;
 					  background-color: none;
   					 cursor: pointer;
    				margin: -60px 0 0 0;}
			input[type="range"]:active::-webkit-slider-thumb {
    				transform: scale(1.1);
    				background-image: url(elmo.png);}

 			.audio::-webkit-media-controls-volume-slider{
    				display: flex;
    /* The 1.9 value was empirically chosen to match old-flexbox behaviour
     * and be aesthetically pleasing.
     */
    				flex: 1 1.9 auto;
    				height: 8px;
   					max-width: 70px;
    				margin: 0 15px 0 0;
    				padding: 0;
    				background-color: transparent;
    				min-width: 15px;
    				border: initial;
    				color: inherit;}
 			.text{font-family: 'Noto Sans KR', sans-serif;
 					font-weight: 900;
 					font-size: 80px;
 					color: #FFFFFF;
 					margin-top: 0px;
 					padding-top: 30px;
 					z-index: 10;}
			
		</style>